[submodule ".registry"]
	path = .registry
	url = https://github.com/rdinnager/universe
	shallow = true
	branch = HEAD
[submodule "slimr"]
	path = slimr
	url = https://github.com/rdinnager/slimr
	shallow = true
	registered = true
