[submodule ".registry"]
	path = .registry
	url = https://github.com/rdinnager/universe
	shallow = true
	branch = HEAD
[submodule "slimr"]
	path = slimr
	url = https://github.com/rdinnager/slimr
	shallow = true
	registered = true
[submodule "immosaic"]
	path = immosaic
	url = https://github.com/rdinnager/immosaic
	shallow = true
	registered = true
[submodule "rbff"]
	path = rbff
	url = https://github.com/rdinnager/rbff
	shallow = true
	registered = true
